u{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a  {
    font-size: 0.875rem;
    color: #464544!important;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #c5ddf8!important;
}
li {
    list-style-type: none;
  }


.image{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    height: 320px;
    position: relative;
    animation: leftright 3s alternate infinite;
   
}
@keyframes leftright{
  
    0%{
      transform: translate(20px,10px);
    }
     100%{
      transform:  translate(20px,20px)
    }
  }

a {
    outline: none;
    cursor: pointer;
    color: #1581e2;
    text-decoration: inherit;
}

a:hover,
a:focus {
    color: #2d4765;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu a {
    padding: 0.3125rem 0.625rem;
}

header .navbar {
    padding: 0.25rem 0px;
}
#list1 .form-control {
    border-color: transparent;
    }
    #list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
    }
    #list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
    }
.card-body {
        flex: 1 1 auto;
        padding: 0.8rem!important;
}
#navbarMobile{
    visibility:hidden;
}
.message{
    position: inherit;
}


  
.check-1::before{
    content: "";
    position: absolute;
    border: #1266f1 solid;
    top: 19px;
    left: 6px;
    height: 15px;
    width: 7px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
/* SCROOL */
::-webkit-scrollbar {
    background-color: hsl(0, 0%, 100%);
    border-radius: .5rem;
    width: .6rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsla(217, 89%, 51%, 0.397);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #1582e2b6;
  }

@media (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link.active:before {
        display: none;
    }
    #navbarMobile{
        visibility:inherit;
    }
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 991px) {
    .lead{
        font-size: 4px;
    }
    #nav-item{
        display:none;
    }
    #navbarMobile{
        visibility:inherit;
    }

}
  

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    p{
        font-size: 12px;
    }
    #nav-item{
        display:none;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    p{
        font-size: 14px;
    }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    p{
        font-size: 9px;
    }
    #nav-item{
        display:none;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .lead ,.small,span{
        font-size: 0.8rem !important;
    }
    
    #nav-item{
        display:none;
    }
    #filterOrder{
        width: 370px !important;
        display: flex!important;
        
    }
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#c5ddf8; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */

.message{
    width: 380px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 16%;
    left: 90%;
}

