
a {
    font-size: 0.875rem;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #0712a8!important;
}
li {
    list-style-type: none;
  }

.image{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    height: 320px;
    position: relative;
    animation: leftright 3s alternate infinite;
   
}
@keyframes leftright{
  
    0%{
      transform: translate(20px,10px);
    }
     100%{
      transform:  translate(20px,20px)
    }
  }

a {
    outline: none;
    cursor: pointer;
    color: #1581e2;
    text-decoration: inherit;
}

a:hover,
a:focus {
    color: #2d4765;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu a {
    padding: 0.3125rem 0.625rem;
}

header .navbar {
    padding: 0.25rem 0px;
}
#list1 .form-control {
    border-color: transparent;
    }
    #list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
    }
    #list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
    }
.card-body {
        flex: 1 1 auto;
        padding: 0.8rem!important;
}
@media (max-width: 768px) {
    header .navbar {
        padding: 0.25rem 1.25rem;
    }
}

.navbar-light .navbar-nav .nav-link {
    padding: 0.4375rem 0.9375rem;
    background: initial;
    color: #464544;
    border-radius: 0.3125rem;
    font-weight: 500;
    font-family: "Noto Sans";
    font-size: 0.875rem;
}

.navbar-light .navbar-nav .nav-link.active {
    background: #fefaf6;
    position: relative;
}

.navbar-light .navbar-nav .nav-link.active:before {
    position: absolute;
    left: 0;
    right: 0;
    height: 0.125rem;
    width: 100%;
    background: #f48220;
    bottom: -0.75rem;
    content: "";
}

.navbar-light .navbar-nav .nav-link.dropdown-toggle span {
    max-width: 10rem;
    word-wrap: break-word;
    line-height: normal;
    white-space: normal;
    font-family: "Noto Sans";
    font-weight: normal;
    font-size: 0.75rem;
    text-align: right;
    padding-right: 0.625rem;
    color: #464544;
}

header {
    z-index: 999;
    background: #fff;
    position: relative;
}

@media (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link.active:before {
        display: none;
    }
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    p{
        font-size: 10px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    p{
        font-size: 12px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    p{
        font-size: 14px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    p{
        font-size: 9px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    p{
        font-size: 7px;
    }
}
