<% if (message.length > 0 && type == "danger") {%>
    <section class="message" id="message">
    <div class="alert alert-warning d-flex align-items-center fade show d-inline-block  mt-3  ml-auto float-end" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  
      <%=message%> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
  </section>
  </div>
      
    <%} else if(message.length > 0 && type == "success") {%> 
      <section class="message" id="message">
      <div class="alert alert-success alert-dismissible fade show d-inline-block  mt-3  ml-auto float-end" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <%=message%> 
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>    
      </div>
    </section>
      <%} %> 


      